#head{
height:400px;
width:966px;
position:relative;
}
#map{
position:absolute;
float:left;
top:50px;
}
#about{
position:absolute;
color:white;
float:right;
font-size:20px;
left:700px;
top:100px;
}
#boot{
position:relative;
height:500px;

}
#chart{
position:absolute;
float:left;
right:400px;
}
#text{
position:absolute;
float:right;
right:5px;
}
.texte{
text-align:justify;
color:white;
font-size:20px;
}
